* {
  margin: 0;
  padding: 0;
}

head,
body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  background: #141414;
  color: #fff;
  height: 100dvh;
  width: 100dvw;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
}

footer {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #fff;
}